body {
    background: #262628;
}

p {
    color: #ffe5e5;
    height: 100px;
}

.container {
    display: flex;
    position: relative;
    height: auto;
}

.white {
    background: #ffe5e5;
    width: 50vw;
    height: 100px;
    border-radius: 15px;
    position: fixed;
    right: 50px;
    bottom: 100px;
}

.red {
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 10%;
    bottom: 50%;
}